/* 
###################
## MEDIA QUERIES ##
###################
*/

/* 1080p */
@media screen and (width <= 2200px) {
  #site-container {
    grid-template-columns: 0.65fr 4fr 0.75fr;
  }
}

/* 1440p – 2160p  */
@media screen and (2560px <= width <= 3840px) {
  main {
    /* margin: 0 1.225vw 0 1.225vw; */
  }

  html {
  }
  body {
    grid-template-columns: 10vw auto 300px;
  }
  body.retract {
    grid-template-columns: 110px auto 300px;
  }
}

/* <= Tablet width */
@media screen and (900px <= width <= 1425px) {
  #site-container {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px auto 100px;
    grid-template-areas:
      'header header'
      'nav main'
      'footer footer';
  }

  
  aside {
    display: none;
  }

  #main-intro-container {
    font-size: 1.25vmin;
  }
}

/* <= Phone width */
@media screen and (0px <= width <= 899px) {
  #site-container {
    display: block;
  }

  aside {
    display: none;
  }

  #main-intro-container {
    display: block;
    font-size: 1.825vmin !important;

  }

  #main-contact-container {
    padding: 12px 24px;
  }
}

/* 
#######################
## CONTAINER QUERIES ##
#######################
*/

/* GLOBAL */
#site-container {
  container: totalWrap / inline-size;
}
@container totalWrap (width < 899) {
  #footer-container-global {
    width: 100%;
    display: block;
    button {
      margin-top: 1.5rem;
      justify-content: center;
      width: 100%;
    }
  }
}

/* MAIN CONTAINER */
main {
  container: mainWrap / inline-size;
}
@container mainWrap (width < 1140) {
  #main-intro-container {
    font-size: 1.25vmin;
  }
}
@container mainWrap (width < 1025) {
  #main-intro-container {
    font-size: 1.125vmin;
  }
}


/* OPEN PROJECT ARTICLE */

/* Header */
.project-open-header {
  summary.project-overview-cards-wrapper {
    container: projectOverviewCards / inline-size;
  }
  @container projectOverviewCards (width < 818) {
    .lead-card {
      --text-size: 0.925rem !important;
      border-radius: var(--big-corner) !important;
    }
  }
  @container projectOverviewCards (width < 500) {
    .lead-card {
      flex-basis: 25% !important;
      gap: 12px !important;
      .timeline-container {
        display: block !important;
      }
      div.container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem 24px;
        .collab-wrapper {
          width: auto !important;
        }
      }
    }
  }
}

/* Main */
@container mainWrap (width < 1162) {
  .project-compare-container {
    padding-right: 0px !important;
    flex-direction: column !important;
    .media-wrapper {
      figcaption.tiered {
        padding: 12px !important;

        border-radius: 12px !important;
      }
    }
    .project-buttons-wrapper {
      max-width: 100% !important;
      flex-direction: row !important;
      overflow-x: auto;
      gap: 2px;
      button {
        border-radius: 12px !important;
      }
    }
  }
}
