/* Default font: Outfit */
* {
  font-family: 'Outfit', sans-serif;
  color: var(--shade-text-1);
}

/* All material symbols */
span.material-symbols-rounded,
span.material-symbols-sharp {
  font-size: 1.65rem;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0;
  font-optical-sizing: auto;
  color: var(--shade-text-1);
  user-select: none;
}
span.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
}
span.material-symbols-sharp {
  font-family: 'Material Symbols Sharp';
}
/* MS skeleton placeholder */
.material-symbols-skeleton {
  width: 1.65rem;
  height: 1.65rem;

  border-radius: 8px;
  background-color: var(--shade-base-5);
  mix-blend-mode: luminosity;
  
  animation: skeleton-loading 0.5s ease-out infinite alternate;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Readex Pro', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--shade-text-0);
  /* <= Phone size */
  @media screen and (0px <= width <= 899px) {
    hyphens: auto;
    hyphenate-character: auto;
  }
}
h1 {
  line-height: 6.25rem;
  font-size: 5rem;
  font-weight: 400;
  /* <= Phone size */
  @media screen and (0px <= width <= 899px) {
    font-size: 3.5rem;
    line-height: initial;
  }
}
.h1-sub {
  font-size: 1.375rem;
  font-weight: 400;
  color: var(--shade-text-3);
  /* <= Phone size */
  @media screen and (0px <= width <= 899px) {
    font-size: 1.2rem;
    line-height: initial;
  }
}
h2 {
  letter-spacing: -0.0275ch;
  font-size: 3.25rem;
  line-height: 4.5rem;
  /* H2 for the main body */
  &.main-section-h2 {
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 450;
    letter-spacing: -0.035ch;
    /* <= Phone size */
    @media screen and (0px <= width <= 899px) {
      font-size: 1.125rem;
    }
  }
  /* <= Tablet size */
  @media screen and (900px <= width <= 1425px) {
    font-size: 2.825rem;
    line-height: 3.65rem;
  }
  /* <= Phone size */
  @media screen and (500px <= width <= 899px) {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  /* <= Small phone size */
  @media screen and (0px <= width <= 499px) {
    font-size: 2.125rem;
    line-height: 2.75rem;
  }
}
h3 {
  font-size: 1.85rem;
  /* line-height: 4.5rem; */
  /* <= Tablet size */
  @media screen and (500px <= width <= 1425px) {
    font-size: 1.5rem;
  }
    /* <= Small phone size */
  @media screen and (0px <= width <= 499px) {
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: 420;
  }
}
h4 {
  /* font-family: 'Outfit', sans-serif; */
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--shade-text-2);
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.525rem;
  color: var(--shade-text-1);
  /* <= Small phone size */
  @media screen and (0px <= width <= 499px) {
    font-size: 0.935rem;
    line-height: 1.375rem;
    font-weight: 420;
  }
  strong,
  em {
    font-weight: 550;
    color: var(--shade-text-0);
  }
}
/* Everything else */
p,
label,
span {
  /* font-weight: 400; */
  font-variant-ligatures: normal;
}
button * {
  /* font-weight: 600; */
}
a.external-link {
  font-weight: 400;
  color: var(--theme-base-1);
  &:hover {
    color: var(--theme-card-1-hover);
  }
  &:active {
    color: var(--theme-card-1-active);
  }
}
blockquote {
  font-size: 16px;
}

hr {
  border: none;
  border-top: 1px solid var(--shade-outline-1);
}
hr.divider-section {
  /* margin: 0px 40px 0px 40px; */
}
hr.divider-h {
  margin: 12px 0px 12px 0px;
}
hr.divider-v {
  border-right: 1px solid var(--shade-outline-1);
  &.tab-div {
    margin: 24px 0;
    border-right: 1px solid var(--shade-outline-4);
  }
}
hr.article-hr {
  margin-bottom: 64px;
}

/* Tag */
.card-tag {
  display: flex;
  align-items: center;
  padding: 4px;
  max-height: 20px;

  background-color: var(--tonal-card-0);
  box-shadow: var(--drop-shadow-1);
  /* border: 1px solid var(--shade-outline-4); */
  border-radius: 4px;
  * {
    font-weight: 500;
    font-size: 0.8rem;
  }
  label {
    line-height: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
  }
  /* Types */
  &.tag-icontext {
    padding: 4px 2px;
    gap: 2px;
    label {
      padding-right: 2px;
    }
    span {
      margin-top: 1px;
      font-size: 1.1rem;
      font-weight: 400;
      font-variation-settings: 'FILL' 1;
    }
  }
  /* Colours */
  &.green {
        background-color: var(--green-card-1);
    * {
      color: var(--green-card-1-text-1);
    }
  }
}
