@import "https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap";
*, :before, :after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

button, button:active, button:focus {
  outline: none;
  padding: 0;
}

button {
  cursor: pointer;
  text-align: center;
  color: var(--shade-text-1);
  border: none;
  border-radius: 100px;
  transition: background-color .275s;
}

button.stdbtn {
  background-color: var(--shade-base-1);
  border: none;
}

button.stdbtn.icon {
  aspect-ratio: 1;
}

button.iconbtn {
  aspect-ratio: 1;
  background-color: #0000;
  border: none;
}

button:hover {
  transition: background-color .1s;
  background-color: var(--shade-base-accent-1) !important;
}

button:active {
  transition: background-color .1s;
  background-color: var(--shade-base-accent-2) !important;
}

.navbox-btn:hover {
  background-color: var(--shade-base-accent-1);
  transition: background-color .1s;
}

.navbox-btn:active {
  background-color: var(--shade-base-accent-2);
  transition: background-color .1s;
}

.projects-bigcard {
  box-shadow: none;
  transition: box-shadow .15s, transform .15s;
}

.projects-bigcard .projects-bigcard-details-container {
  bottom: var(--idle-bottom);
  transition: bottom .15s;
}

.projects-bigcard .projects-bigcard-details-container .projects-bigcard-details-h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 42px;
  overflow: hidden;
}

.projects-bigcard .projects-bigcard-thumb {
  background-color: none;
}

.projects-bigcard .projects-bigcard-thumb img {
  opacity: 1;
  transition: opacity .15s;
}

.projects-bigcard:hover {
  cursor: pointer;
  transition: box-shadow .1s, transform .15s;
  transform: translateX(-1px)translateY(-2px);
  box-shadow: 0 1px 2px #1717171a, 0 2px 6px #1717172e;
}

.projects-bigcard:hover .projects-bigcard-details-container {
  bottom: var(--hover-bottom);
  transition: bottom .275s;
}

.projects-bigcard:hover .projects-bigcard-details-container .projects-bigcard-details-h3 {
  text-overflow: initial;
  white-space: normal;
  height: auto;
  overflow: visible;
}

.projects-bigcard:hover .projects-bigcard-thumb img {
  opacity: .75;
  transition: opacity .15s;
}

.project-big-open .navbox-2-btn:hover {
  background-color: var(--shade-base-accent-1);
  transition: background-color .1s;
}

.project-big-open .navbox-2-btn:active {
  background-color: var(--shade-base-accent-2);
  transition: background-color .1s;
}

span.material-symbols-rounded {
  aspect-ratio: 1;
  color: var(--shade-text-1);
  padding: 5px;
  font-size: 1.8em;
  font-weight: 320;
  line-height: 1em;
}

main {
  border-radius: 40px;
}

:root {
  --shade-base-0: #fdfdfc;
  --shade-base-1: #f8f5f2;
  --shade-base-2: #f5f1eb;
  --shade-base-3: #f1ece4;
  --shade-base-4: #ece4da;
  --shade-base-5: #e7ddd0;
  --shade-base-accent-1: #e3d0b533;
  --shade-base-accent-2: #ddcbb04d;
  --shade-text-0: #201f1d;
  --shade-text-1: #383633;
  --shade-text-2: #44403b;
  --shade-text-3: #524d47;
  --shade-text-4: #615b51;
  --shade-text-5: #6f685d;
  --shade-text-6: #837867;
  --shade-outline-1: #e2dfda;
  --shade-outline-2: #dbd7d1;
  --shade-outline-3: #d0cbc3;
  --shade-outline-4: #cbc1b4;
  --shade-outline-5: #beb2a2;
  --shade-accent-0: #a1a58d;
  --shade-invert-base-1: #605a52;
  --shade-invert-base-2: #7c746a;
  --shade-invert-base-3: #958e83;
  --shade-invert-text-1: var(--shade-base-1);
}

#main-projects-container {
  --shade-base-1: #fafafa;
  --shade-base-2: #f5f5f4;
  --shade-base-3: #efedec;
  --shade-base-4: #e8e6e3;
  --shade-base-5: #e1dedb;
  --shade-base-1-trans: #fdfcfcf2;
  --shade-container-1: #f4f6ea;
  --shade-container-1-text-1: #636751;
  --shade-container-1-outline-1: #ced0c3;
  --shade-text-0: #1f1f1f;
  --shade-text-1: #363636;
  --shade-text-2: #404040;
  --shade-text-3: #4d4d4d;
  --shade-text-4: #595959;
  --shade-text-5: #666;
  --shade-text-6: #757575;
  --shade-text-7: gray;
  --shade-text-8: #8c8c8c;
  --shade-outline-1: #dedede;
  --shade-outline-2: #d6d6d6;
  --shade-outline-3: #c9c9c9;
  --shade-outline-4: #bfbfbf;
  --shade-outline-5: #b0b0b0;
  --shade-accent-0: #99a58d;
  --shade-invert-base-1: #595959;
  --shade-invert-text-1: var(--shade-base-1);
}

.project-big-open {
  --shade-base-0: #fdfdfc;
  --shade-base-1: #f8f5f2;
  --shade-base-2: #f5f1eb;
  --shade-base-3: #f1ece4;
  --shade-base-4: #ece4da;
  --shade-base-5: #e7ddd0;
  --shade-base-1-trans: #fdfcfcf2;
  --shade-base-accent-1: #e3d0b533;
  --shade-base-accent-2: #ddcbb04d;
  --shade-container-1: #f3f5eb;
  --shade-container-1-text-1: #81875e;
  --shade-container-1-outline-1: #ced0c3;
  --shade-container-2: #eef1df;
  --shade-container-2-text-1: #62674c;
  --shade-container-2-outline-1: #c4c7b8;
  --shade-container-accent-1: #afc05933;
  --shade-container-accent-2: #a7b7574d;
  --shade-text-0: #201f1d;
  --shade-text-1: #383633;
  --shade-text-2: #44403b;
  --shade-text-3: #524d47;
  --shade-text-4: #615b51;
  --shade-text-5: #6f685d;
  --shade-text-6: #837867;
  --shade-outline-0: #f2f0ee;
  --shade-outline-1: #e2dfda;
  --shade-outline-2: #dbd7d1;
  --shade-outline-3: #d0cbc3;
  --shade-outline-4: #cbc1b4;
  --shade-outline-5: #beb2a2;
  --shade-accent-0: #a1a58d;
  --shade-invert-base-1: #605a52;
  --shade-invert-base-2: #7c746a;
  --shade-invert-base-3: #958e83;
  --shade-invert-text-1: var(--shade-base-1);
}

body {
  background-color: var(--shade-base-1);
}

* {
  color: var(--shade-text-1);
}

* h1, * h2, * h3, * h4, * h5, * h6 {
  font-family: Readex Pro, sans-serif;
  font-size: 25px;
  font-weight: 500;
}

* h1 {
  font-size: 40px;
  font-weight: 500;
}

* p {
  font-family: Figtree, sans-serif;
  font-weight: 400;
}

* p strong, * p em {
  font-family: Figtree, sans-serif;
}

* button * {
  font-family: Figtree, sans-serif;
  font-weight: 600;
}

* a {
  font-family: Figtree, sans-serif;
  font-weight: 400;
}

* blockquote {
  font-family: Readex Pro, sans-serif;
  font-size: 16px;
}

hr {
  border: none;
  border-top: 1px solid var(--shade-outline-1);
}

hr.divider-h {
  margin: 12px 0;
}

* {
  transition-timing-function: ease-out;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  grid-template: "header header header" 50px
                 "nav main aside" 1fr
                 "footer footer footer" 100px
                 / 12vw 75vw 13vw;
  transition: grid-template-columns .2s;
  display: grid;
}

body.retract {
  grid-template-columns: 7vw 80vw 13vw;
  transition: grid-template-columns .2s;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  margin: 0 1vw 0 1.25vw;
}

nav {
  grid-area: nav;
}

aside {
  grid-area: 1 / 3 / 4 / 4;
}

footer {
  grid-area: footer;
}

a.anchor {
  visibility: hidden;
  display: block;
  position: relative;
  top: -80px;
}

header {
  z-index: 1;
  background-color: var(--shade-base-2);
  opacity: 0;
  border-bottom: 1px solid var(--shade-outline-1);
  align-items: center;
  width: 100%;
  padding: 15px 1vw 15px 12vw;
  font-size: 2vmin;
  display: flex;
  position: fixed;
}

header * {
  color: var(--shade-text-0);
}

header .head-icon {
  opacity: .75;
  border-right: 2px solid var(--shade-outline-5);
  margin-right: 1.25em;
  padding-right: 1.25em;
  display: inline-block;
}

header .head-text {
  color: var(--shade-text-6);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  display: inline-block;
}

header.fadein {
  opacity: 1;
  transition: opacity .175s;
}

header.fadeout {
  opacity: 0;
  transition: opacity .175s;
}

#head-hamburger-btn {
  z-index: 1;
  height: 54px;
  margin-left: calc(1.15vw + 5px);
  position: fixed;
}

#head-hamburger-btn span {
  color: #46433e;
  font-size: 30px;
}

nav {
  font-size: 2vh;
}

nav * {
  color: var(--shade-text-2);
}

#navbox {
  margin-top: 20vh;
  position: sticky;
  top: 11vh;
}

#navbox ul {
  padding-inline-start: 1.15vw;
  list-style-type: none;
}

#navbox ul li a {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  padding: 7px 12px;
  display: flex;
}

#navbox ul li a.closed {
  max-width: 64px;
}

.navbox-btn {
  border-radius: 100px;
  width: auto;
  text-decoration: none;
  transition: background-color .275s;
  display: block;
}

.navbox-btn .navbox-btn-p {
  vertical-align: middle;
  opacity: 1;
  color: var(--shade-text-2);
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.9em;
  transition: opacity .2s;
  display: inline-block;
}

.navbox-btn span.material-symbols-rounded {
  vertical-align: middle;
  color: var(--shade-text-2);
  font-size: 30px;
  transition: color .2s;
  display: inline-block;
}

.navbox-btn.closed .navbox-btn-p {
  opacity: 0;
  transition: opacity .2s;
}

.navbox-btn.closed span.material-symbols-rounded {
  color: #c3c0bb;
  font-weight: 260;
  transition: color .2s;
}

aside {
  padding: 20vh 0 0 2vw;
  font-size: 17px;
}

aside * {
  color: var(--shade-text-0);
}

#aside-infobox {
  background-color: var(--shade-base-1);
  border-left: 1px solid var(--shade-outline-3);
  border-radius: 1em;
  width: 150px;
  position: sticky;
  top: 10vh;
}

#aside-infobox #aside-infobox-head {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0 1em;
  display: inline-block;
}

#aside-infobox #aside-infobox-head h4 {
  color: var(--shade-text-1);
  font-size: .925em;
  line-height: 1.35em;
  display: inline-block;
}

#aside-infobox #aside-infobox-content {
  max-height: 13em;
  padding: 0 .85em;
  transition: max-height .4s;
  overflow: hidden;
}

#aside-infobox #aside-infobox-content p {
  color: var(--shade-text-3);
  padding-bottom: .5em;
  font-size: .8em;
  line-height: 1.4em;
}

#aside-infobox #aside-infobox-content #aside-infobox-avatar {
  filter: drop-shadow(6px 6px .375px #c9cac4) drop-shadow(-6px -6px .375px #c9cac4);
  padding: 1em .5em;
}

#aside-infobox #aside-infobox-content.closed {
  transition: max-height .4;
  max-height: 0;
  overflow: hidden;
}

#aside-infobox #aside-infobox-btn-container {
  border-style: solid;
  border-width: 1px 0 0;
  border-image: linear-gradient(to right, var(--shade-outline-3), #d0cbc300) 1;
  border-radius: 0 0 1em 1em;
  margin-top: .65em;
  transition: background-color .275s;
}

#aside-infobox #aside-infobox-btn-container #aside-infobox-btn {
  width: 100%;
  height: 2.65em;
  margin: 0 auto;
  font-size: .75em;
  transition: transform .4s;
  display: block;
}

#aside-infobox #aside-infobox-btn-container #aside-infobox-btn span {
  vertical-align: middle;
}

#aside-infobox #aside-infobox-btn-container #aside-infobox-btn.closed {
  border-radius: 1.275em 1.275em 0 0;
  transition: transform .4s;
  transform: rotateX(180deg);
}

#aside-infobox #aside-infobox-btn-container #aside-infobox-btn:hover, #aside-infobox #aside-infobox-btn-container #aside-infobox-btn:active {
  background-color: initial !important;
}

#aside-infobox #aside-infobox-btn-container:hover {
  background-color: var(--shade-base-accent-1);
  transition: background-color .1s;
}

#aside-infobox #aside-infobox-btn-container:active {
  background-color: var(--shade-base-accent-2);
  transition: background-color .1s;
}

#main-intro-container {
  flex-direction: row;
  place-content: center space-around;
  height: 85vh;
  padding: 0 0 6vh;
  font-size: 48vmin;
  display: flex;
}

#main-intro-container * {
  color: var(--shade-text-0);
}

#intro-titles {
  flex-direction: column;
  justify-content: center;
  height: 100%;
  display: flex;
}

#intro-titles #intro-titles-names {
  height: auto;
  margin-bottom: .06em;
}

#intro-titles #intro-titles-names img {
  width: 1.35em;
}

#intro-titles #intro-titles-names h2 {
  letter-spacing: .015em;
  color: #554b3f;
  padding-inline-start: 2px;
  font-size: .15em;
  font-weight: 300;
}

#intro-titles .intro-titles-role {
  color: var(--shade-text-0);
  border-left: 2px solid var(--shade-invert-base-2);
  margin-left: .5vw;
  padding: 1px 0 0 .15em;
  font-size: .265em;
  font-weight: 600;
  line-height: 1em;
}

#intro-titles .intro-titles-desc {
  color: var(--shade-text-5);
  border-left: 2px solid var(--shade-invert-base-2);
  padding-inline-start: 5px;
  border-radius: 0 0 0 .75em;
  margin-left: .5vw;
  padding: 1.15em 0 1em .95em;
  font-size: .06em;
  font-weight: 500;
  line-height: 1.55em;
}

#intro-titles .intro-titles-desc strong {
  color: var(--shade-text-3);
}

#intro-graphicfg {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

#intro-graphicfg #intro-graphic-quotebox {
  mix-blend-mode: luminosity;
  z-index: 0;
  border-radius: .1em;
  width: 1.06em;
  height: auto;
  padding: .1em .07em .125em .075em;
  box-shadow: 0 1px 2px #17171747, 0 4px 6px #17171742;
}

#intro-graphicfg #intro-graphic-quotebox h3 {
  color: #292724;
  padding: .25em 0 .025em;
  font-family: initial;
  font-size: .275em;
  line-height: .4em;
}

#intro-graphicfg #intro-graphic-quotebox blockquote {
  color: var(--shade-text-1);
  padding-right: 10px;
  padding-inline-start: 5px;
  font-size: .085em;
  font-weight: 400;
  line-height: 1.4em;
}

#intro-graphicbg {
  z-index: -1;
  width: 600px;
  height: 400px;
  margin-top: 10%;
  position: absolute;
  top: 1vh;
  right: 20vw;
}

#main-projects-container {
  background-color: var(--shade-base-0);
  border-radius: 2.5em;
  min-height: 90vh;
  font-size: 15px;
}

#main-projects-container .projects-big-h1 {
  margin-bottom: .6em;
}

#main-projects-container .projects-small-h2 {
  color: var(--shade-text-3);
  margin: 30px 0 16px;
  font-weight: 500;
}

#projects-big {
  padding: 2.5em;
  display: block;
}

#projects-big #projects-bigcardousel {
  flex-flow: wrap;
  gap: 30px;
  display: flex;
}

#projects-big .projects-bigcard {
  border-radius: 20px;
  height: 270px;
  overflow: hidden;
}

#projects-big .projects-bigcard .projects-bigcard-thumb {
  border-radius: 20px;
  width: 350px;
  height: 270px;
}

#projects-big .projects-bigcard .projects-bigcard-details-container {
  background-color: var(--shade-base-1);
  border-radius: 20px 20px 0 0;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  height: 300px;
  padding: 16px;
  display: flex;
  position: relative;
}

#projects-big .projects-bigcard .projects-bigcard-details-container .projects-bigcard-details-h3 {
  color: var(--shade-text-2);
  font-family: Figtree, sans-serif;
  font-size: 28px;
  font-weight: 500;
}

#projects-big .projects-bigcard .projects-bigcard-details-container .projects-bigcard-details-taglist {
  flex-direction: row;
  gap: 10px;
  display: flex;
}

#projects-big .projects-bigcard .projects-bigcard-details-container .projects-bigcard-details-desc {
  color: var(--shade-text-8);
  padding: 6px 8px;
  font-family: Figtree, sans-serif;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
}

#projects-big .projects-bigcard-tag {
  background-color: var(--shade-container-1);
  color: var(--shade-container-1-text-1);
  border-radius: 4px;
  width: fit-content;
  padding: 6px 8px;
  font-family: Figtree, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  display: inline-block;
}

#projects-big.closed {
  display: none;
}

.project-big-open {
  background-color: var(--shade-base-0);
  border-radius: 2.5em;
  padding: 1.5em;
}

.project-big-open .project-big-open-header-container {
  width: 100%;
}

.project-big-open .project-big-open-header-container .project-big-open-header {
  background-color: var(--shade-base-1);
  border-radius: 2.5em;
  height: 220px;
  padding: 10px 20px 28px;
}

.project-big-open .project-big-open-header-container .project-big-open-header .project-big-open-header-content {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  display: flex;
}

.project-big-open .project-big-open-header-container .project-big-open-header .project-big-open-header-content .project-big-open-header-topdtls {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  height: fit-content;
  display: flex;
}

.project-big-open .project-big-open-header-container .project-big-open-header .project-big-open-header-content .project-big-open-header-topdtls .project-big-open-header-backbtn {
  background-color: var(--shade-base-0);
  width: 40px;
  height: 40px;
}

.project-big-open .project-big-open-header-container .project-big-open-header .project-big-open-header-content .project-big-open-header-topdtls .project-big-open-header-title {
  color: var(--shade-text-3);
  font-size: 46px;
  font-weight: 400;
}

.project-big-open .project-big-open-header-container .project-big-open-header .project-big-open-header-content .project-big-open-header-bottomdtls {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  display: flex;
}

.project-big-open .project-big-open-header-container .project-big-open-header .project-big-open-header-content .project-big-open-header-bottomdtls .project-big-open-header-taglist {
  flex-direction: row;
  gap: 10px;
  display: flex;
}

.project-big-open .project-big-open-main-container {
  flex-direction: row;
  gap: 10px;
  margin: 0 30px 0 15px;
  display: flex;
}

.project-big-open .project-big-open-main-container .project-big-open-nav-container {
  width: 15%;
}

.project-big-open .project-big-open-main-container .project-big-open-nav-container .open-nav-list {
  margin-top: 20px;
}

.project-big-open .project-big-open-main-container .project-big-open-nav-container .open-nav-list ul {
  padding-inline-start: 0;
  list-style-type: none;
}

.project-big-open .project-big-open-main-container .project-big-open-nav-container .open-nav-list ul .navbox-2-btn {
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  padding: 6px;
  transition: background-color .15s;
  display: flex;
}

.project-big-open .project-big-open-main-container .project-big-open-body-container {
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.project-big-open .project-big-open-main-container .project-big-open-body-container .project-big-open-desc-container {
  margin: 30px 0 35px;
}

.project-big-open .project-big-open-main-container .project-big-open-body-container .project-big-open-desc-container .project-big-open-desc {
  color: var(--shade-text-3);
  font-size: 15px;
  font-weight: 500;
}

.project-big-open .project-big-open-main-container .project-big-open-body-container .project-big-open-carousel-1 {
  border-top: 1px solid var(--shade-base-3);
  border-bottom: 1px solid var(--shade-base-3);
  width: fit-content;
  padding: 1.25em 0;
}

.project-big-open .project-big-open-main-container .project-big-open-body-container .project-big-open-carousel-1 .carousel-1-content-container {
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  display: flex;
}

.project-big-open .project-big-open-main-container .project-big-open-body-container .project-big-open-carousel-1 .carousel-1-content-container .carousel-1-media {
  border: 2px solid var(--shade-outline-1);
  border-radius: 2em;
  width: 550px;
  height: 400px;
}

.project-big-open .project-big-open-main-container .project-big-open-body-container .project-big-open-carousel-1 .carousel-1-content-container .carousel-1-info {
  background-color: var(--shade-base-1);
  border-radius: 2em;
  width: 280px;
  height: 400px;
}

.project-big-open .project-big-open-main-container .project-big-open-body-container .project-big-open-carousel-1 .carousel-1-btns-container {
  margin-top: 10px;
}

.project-big-open .project-big-open-main-container .project-big-open-body-container .project-big-open-carousel-2 {
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  display: flex;
}

.project-big-open .project-big-open-main-container .project-big-open-body-container .project-big-open-carousel-2 .carousel-2-sidebar-container {
  background-color: var(--shade-base-1);
  border-radius: 2em;
  width: 250px;
  height: 380px;
}

.project-big-open .projects-bigcard-tag {
  background-color: var(--shade-base-1);
  color: var(--shade-text-4);
  border-radius: 4px;
  width: fit-content;
  padding: 6px 8px;
  font-family: Figtree, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  display: inline-block;
  box-shadow: 0 1px 2px #1717171a, 0 2px 3px #17171726;
}

.project-big-open .bronzebtn {
  background-color: var(--shade-container-1);
}

.project-big-open .bronzebtn * {
  color: var(--shade-container-1-text-1);
}

.project-big-open .bronzebtn:hover {
  transition: background-color .1s;
  background-color: var(--shade-container-accent-1) !important;
}

.project-big-open .bronzebtn:active {
  transition: background-color .1s;
  background-color: var(--shade-container-accent-2) !important;
}

#main-contact-container {
  border-radius: 30px;
  height: 50vh;
  padding: 40px;
}

footer {
  border-top: 1px solid var(--shade-outline-2);
}

@media screen and (width >= 2560px) and (width <= 3840px) {
  main {
    margin: 0 1.225vw;
  }

  body {
    grid-template-columns: 11vw 76vw 13vw;
  }

  body.retract {
    grid-template-columns: 7vw 80vw 13vw;
  }

  #intro-titles {
    font-size: 36vh;
  }

  #intro-graphic-quotebox {
    width: 1.06em;
    height: auto;
    padding: .1em .07em .125em .075em;
    font-size: 36vh;
  }

  aside {
    padding: 20vh 0 0 2vw;
  }

  aside #aside-infobox {
    width: 6.5vw;
    font-size: .75vw;
  }
}
/*# sourceMappingURL=index.317f8790.css.map */
