

/* Universal classes for project showcases */
.project-big-open {
    /* padding: 36px; */
    max-width: 100%;

    --max-w-body: 780px;
    --max-w-body-margin-col: 1000px;
    --body-text-size: 0.1rem;
}
/* UNDONE: Sticky top header */
/* .header-topdtls-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: sticky;
    top: 64px;
    height: 72px;
    margin-bottom: -72px;
    
    background-color: transparent;
    z-index: 1;
    .header-topdtls {
        width: 100%;
        margin-bottom: -100%;
        margin-top: 6px;
        padding: 48px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;
        height: fit-content;

        pointer-events: none;
        border-radius: 36px;
        background-color: transparent;
        .header-backbtn {
            pointer-events: all;
            border-radius: 16px;
            background-color: var(--shade-base-0);
        }
        .btns-header {
            justify-self: flex-end;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;

            pointer-events: none;
            opacity: 0;
        }
        h1 {
            flex-grow: 1;
            font-size: inherit;
            font-weight: inherit;
            color: var(--shade-text-0);
            view-transition-name: post-title; 
        }
    }
} */

/*  
############
## Header ##
############ 
*/
.project-open-header {
    /* max-height: 450px; */
    margin-bottom: 48px;
    /* position: relative; */
    width: 100%;
    position: relative;

    z-index: 1;
    border-radius: 48px; 
    /* background-color: var(--shade-base-3); */
    background: linear-gradient(120deg, var(--shade-base-2) 0%, var(--shade-card-0) 75%); 
    .header-main {
        padding: 36px 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
        gap: 16px;

        /* <= Tablet width */
        @media screen and (0px <= width <= 1425px) { display: block; padding: 48px 24px 24px 24px; }
        .header-main-left-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* <= Tablet width  */
            @media screen and (0px <= width <= 1425px) { margin-bottom: 20px }
            .header-backbtn {
                pointer-events: all;
                border-radius: 16px;
                background-color: var(--shade-base-0);
            }
            .btns-header {
                justify-self: flex-end;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
    
                pointer-events: none;
                opacity: 0;
            }
            h1 {
                margin: 1rem 0;
                line-height: 6rem;
                color: var(--shade-text-0);
            }
            p.desc-text {
                max-width: 700px;
                margin-bottom: 0.65rem;

                font-size: 1.2rem;
                line-height: 1.75rem;
                /* line-height: 1.6rem; */
                color: var(--shade-text-2);
                @media screen and (0px <= width <= 1425px) { max-width: 100%; }
            }
            .header-metadata {
                width: 100%;
                .metadata-section-label-wrapper {
                    display: inline-block;
                }
                .metadata-section-label {
                    display: none;
                    font-weight: 450;
                    font-size: 0.7rem;
                    color: var(--shade-text-6);
                }
                .metadata-btns-wrapper {
                    margin: 12px 0px 12px 0px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    gap: 8px 16px;
                    /* Ensure it all looks centred */
                    span {
                        padding-bottom: 1px;
                    }
                    .prmry-btn {
                        /* UNDONE: Dynamic gradient for project theme col */
                        /* background: linear-gradient(120deg, var(--theme-base-0) 60%, var(--prmry-btn-theme) 100%); */
                        /* transition: --prmry-btn-theme 0.125s; */
                        /* &:hover { */
                        /*    --prmry-btn-theme: var(--theme-base-0); */
                        /*    transition: --prmry-btn-theme 0.125s; */
                        /* } */
                    }
                    /* Raise outline button colour for clarity */
                    .outline-btn {
                        span, label {color: var(--shade-text-3);}
                    }
                }
                .metadata-tags-wrapper {
                    /* Tags text */
                    .metadata-year, .dividing-dot, .metadata-tag {
                        margin-right: 5px;
                        font-weight: 450;
                        font-size: 0.725rem;
                        color: var(--shade-text-4);
                    }
                }
            }
        }
        /* Right side holds project thumb img */
        .header-main-right-wrapper {
            flex-basis: 50%;

            /* <= Tablet width  */
            @media screen and (0px <= width <= 1425px) { height: auto; padding-top: 0; }
            img {
                height: 100%;
                object-fit: cover;

                border: 1px solid var(--shade-outline-1);
                border-radius: 48px;   
            }
        }
    }
}