// Stock holy layout grid wrapping the body
#site-container {
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr 4fr 1.25fr;
  grid-template-rows: 50px 1fr 100px; 
  //gap: 20px;
  grid-template-areas: 
    "header header header"
    "nav main aside"
    "footer footer footer"; 

  //transition: 0.3s;
  // Retract nav buttons
  //&.retract {
  //  grid-template-columns: 0.25fr 3.5fr 0.75fr;
  //  transition: 0.3s;   
  //} 
}

header { grid-area: header; }
nav { grid-area: nav; }
main { 
  grid-area: main; 
  //margin: 0 1vw 0 1.25vw;
} 
  // Intro section
  #main-intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 1rem;
    min-height: 85vh;
    gap: 8rem;

    font-size: 0.625vw;
  }
  // Project section
  #main-projects-container {
    min-height: 90vh;
    max-width: 100%;
    
    border-radius: 2.5rem; 

    transition: 1s;
  }
aside { grid-area: aside }
footer { grid-area: footer; }

// Thanks to https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header for this method
a.anchor {
  display: block;
  position: relative;
  top: -64px;
  visibility: hidden;
}
// Version for project nav
a.projects-anchor {
  display: block;
  position: relative;
  top: -160px;
  visibility: hidden;
}