* {
    transition-timing-function: ease-out;
}

@view-transition {
    navigation: auto;
}

// Handle most universal fade-in animations
@keyframes btn-p-fade {
    0% {
        opacity: 1.0;
        display: inline-block;
    }
    99% {
        opacity: 0;
        display: inline-block;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

// Header
@keyframes headerAppear {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

// Floating header, tracks root y
#root {
    view-timeline-name: --mainTimeline;
    view-timeline-axis: y;
}
header {
    transition: opacity 0.12s; 
    animation: headerAppear forwards;
    animation-timeline: --mainTimeline;
    animation-range: entry-crossing 50vh exit 100%;
}

// Projects sticky header
@keyframes headerViewSticky {
    0% {
    }
    17% {
        width: 65%;
        padding: 2rem;
        gap: 0.25rem;
        box-shadow: none;
        font-size: 4rem;
        align-items: flex-start;
        font-weight: 350;
        flex-direction: column;
        background-color: transparent;
    }
    26% {
        width: 100%;
        align-items: center;
        flex-direction: row;
    }
    36% {
        width: 100%;
        padding: 0.75rem 2rem;
        gap: 1.25rem;
        flex-direction: row;
        align-items: center;
        box-shadow: var(--drop-shadow-1);
        font-size: 1.75rem;
        font-weight: 400;
        background-color: var(--shade-base-2);
    }
    100% {
        width: 100%;
        padding: 0.75rem 2rem;
        gap: 1.25rem;
        flex-direction: row;
        align-items: center;
        box-shadow: var(--drop-shadow-1);
        font-size: 1.75rem;
        font-weight: 400;
        background-color: var(--shade-base-2);
    }
}

// Projects open
article.project-big-open {
    view-timeline-name: --projectTimeline;
    view-timeline-axis: y;
}

// Floating header
.header-topdtls {
    font-size: 4rem;
    font-weight: 350;

    animation: headerViewSticky forwards;
    animation-timeline: --projectTimeline;
    animation-range: contain -300px;
    transition: box-shadow 0.15s;
    h1 {
        transition: font-size 0.1s, font-weight 0.1s;
    }
}

// Title name sticky
#main-intro-container {
    view-timeline-name: --introTimeline;
    view-timeline-axis: y;
}