/* All material symbols */
span.material-symbols-rounded, span.material-symbols-sharp {
    font-size: 1.65rem;
    font-weight: 300;
    font-optical-sizing: auto;
    color: var(--shade-text-1);
    user-select: none; 
}
a, button {
    span.material-symbols-rounded, span.material-symbols-sharp {
        transition: font-weight 0.25s, color 0.15s;
    }
}

/* Links */
a {
    cursor: pointer;
    label { cursor: pointer; }
}

/* Universal button attributes */
button {
    display: flex;
    align-items: center;

    cursor: pointer;
    letter-spacing: 0.025ch;
    border-radius: 100rem;
    color: var(--shade-text-1);

    transition: background-color 0.275s;

    label {
        cursor: pointer;
        font-weight: 400;
        font-size: .875rem;

        transition: -webkit-text-stroke-width 0.125s;
    }
    span.material-symbols-rounded, span.material-symbols-sharp {
        aspect-ratio: 1;
    }
}
    /* Button styling */
    /* Standard shaded colour button */
    button.shaded-btn {
        padding: 1.5rem;
        border: none;
        background-color: var(--tonal-card-1);
        font-size: 1rem;
    }
        /* Primary colour button */
        a.prmry-btn, button.prmry-btn {
            border: none;
            background-color: var(--theme-base-0);
            color: var(--theme-base-text-0);
            span.material-symbols-rounded, span.material-symbols-sharp {
                color: var(--theme-base-text-0);
            }
            label {
                color: var(--shade-theme-0-text);
            }
            /* Hover: a subtle active effect */
            &:hover {
                background-color: var(--theme-card-0-hover) !important;
            }
            /* Active: a subtle click effect */
            &:active {
                background-color: var(--theme-card-0-active) !important;
            }
        }
        /* Toned button */
        a.toned-btn, button.toned-btn {
            border: none;
            background-color: var(--tonal-card-1);
            label, span.material-symbols-rounded, span.material-symbols-sharp {
                color: var(--tonal-card-1-text-2);
            }
            /* Hover: a subtle active effect */
            &:hover {
                background-color: var(--tonal-card-1-hover) !important;
            }
            /* Active: a subtle click effect */
            &:active {
                background-color: var(--tonal-card-1-active) !important;

                transition: background-color 0.1s;
            }
        }
        button.green-btn {
            background-color: var(--green-card-1);
            /* * { colour all elements inside (text, span) */
                color: var(--green-card-1-text-1);
            &:hover {
                background-color: var(--green-button-accent-1) !important;
        
                transition: background-color 0.1s;
            }
            &:active {
                background-color: var(--green-button-accent-2) !important;
        
                transition: background-color 0.1s;
            }
        }
    a.outline-btn, button.outline-btn {
        border: 1px solid var(--shade-outline-1);
        label, span.material-symbols-rounded, span.material-symbols-sharp {
            color: var(--shade-card-0-text-0);
        }
    }
    
    /* Layout options */
    /* Icon + text buttons */
    button.icon-text-btn {
        min-height: 52px;
        min-width: 52px;
        gap: 1rem;
        /* Text needs extra padding for visual balance */
        padding: 0 1.4rem 0 1.125rem;
    }
    /* Single icon buttons */
    button.icon-btn {
        min-height: 3.25rem;
        min-width: 3.25rem;
        justify-content: center;
        span.material-symbols-rounded, span.material-symbols-sharp {

        }
    }
	.icon-text-btn, .icon-btn {
		label {
			cursor: pointer;
			font-weight: 300;
			-webkit-text-stroke-width: 0.5px;
			letter-spacing: 0.055ch;

			transition: -webkit-text-stroke-width 0.125s;
		}
		/* Hover: a subtle active effect */
		&:hover {
			background-color: var(--shade-button-accent-1) !important; transition: background-color 0.1s;
			label {
			}
			span.material-symbols-rounded, span.material-symbols-sharp {
				font-weight: 375;
			}
		}
		/* Active: a subtle click effect */
		&:active {
			background-color: var(--shade-button-accent-2) !important;
			label {
				-webkit-text-stroke-width: 0.25px;
			}
			span.material-symbols-rounded, span.material-symbols-sharp {
				font-weight: 275;
			}
		}
	}
    
/* Main nav button */
.navbox-btn {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    background-color: transparent;
    border-radius: 100px;

    transition: background-color 0.275s;
    /* Button text */
    label {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle; 
        opacity: 1;
        margin: 0;

        font-size: 0.875rem;
        line-height: 1.9rem;
        color: var(--shade-text-4);
    }
    /* Button symbol(s) */
    span.material-symbols-rounded, span.material-symbols-sharp {
        color: var(--shade-text-2);
    }
    /* States */
    &:hover {
        background-color: var( --shade-button-accent-1);
    
        transition: background-color 0.1s;
        label {
            color: var(--shade-text-0);
        }
    }
    &:active {
        background-color: var( --shade-button-accent-2);
    
        transition: background-color 0.1s;
        label {
            color: var(--shade-text-1);
        }
    }
    /* Closed version: fade out p, darken symbols */
    &.closed {
        width: auto;
        label {
            animation: btn-p-fade 0.15s ease-out both;
        }
        span.material-symbols-rounded {
            color: hsl(035, 6%, 75%);
            font-weight: 250;
        }
    }
    @media screen and (0px <= width <= 1425px) {
        width: 75px;
        padding: 0.35rem !important;
        margin-top: 2px;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0rem !important;
        label {
            font-size: 12px;
            font-weight: 250 !important;
        }
    }
}

/* Dockets */
.docket {
    padding: 5px 4px;

    border-radius: 6px;
    label {
        font-weight: 450;
        font-size: 0.825rem;
        letter-spacing: 0.025ch;
    }
    span.material-symbols-rounded, span.material-symbols-sharp {
        font-weight: 300;
        color: var(--shade-text-0);
    }

    /* Hover: a subtle active effect */
    &:hover {
        background-color: var(--shade-button-accent-1) !important; transition: background-color 0.1s;
        label {
        }
        span.material-symbols-rounded, span.material-symbols-sharp {
            font-weight: 350;
        }
    }
    /* Active: a subtle click effect */
    &:active {
        background-color: var(--shade-button-accent-2) !important;
        label {
        }
        span.material-symbols-rounded, span.material-symbols-sharp {
            font-weight: 250;
        }
    }
}
.docket.outline-btn {
    span.material-symbols-rounded, span.material-symbols-sharp {
        color: var(--tonal-card-0-text-1);
    }
    label {
        color: var(--tonal-card-1-text-1);
    }
}
/* Change primary button icon weight to better contrast against bright background */
.docket.prmry-btn {
    /* Active: a subtle click effect */
    &:active {
        span.material-symbols-rounded, span.material-symbols-sharp {
            font-weight: 200;
        }
    }
}
    /* Variation with leading icon */
    .docket.icon {
        padding: 6px 14px 6px 10px;
        display: flex;
        align-items: center;
        gap: 0.375rem;
        display: flex;
        gap: 5px;

        border-radius: 6px;
        span.material-symbols-rounded, span.material-symbols-sharp {
            font-size: 1.25rem;
        }
    }
a.docket {
    text-decoration: none;
}

/* 
PROJECT (OPEN) ARTICLES
*/

/* Details elements */
.details-card {
    min-height: 52px;

    border: 1px solid var(--shade-outline-1);
    h5 { color: var(--tonal-card-1-text-3); }
    * { color: var(--shade-text-4); }
    .summary-label { color: var(--shade-text-7); }    
    border-radius: 14px;
    &[open] {
        summary { border-bottom: 1px solid var(--shade-outline-1); }
    }
    summary::marker {
        content: "";
    }
        /* Fuck safari */
        summary::-webkit-details-marker {
            display: none;
        }
    summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;

        cursor: pointer;
        border-bottom: 1px solid transparent;
        border-radius: 14px;
        
        transition: border-bottom 0.125s, border-radius 0.25s;
        /* Hover: a subtle active effect */
		&:hover {
			background-color: var(--shade-button-accent-1) !important; transition: background-color 0.1s;
			label {
			}
			span.material-symbols-rounded, span.material-symbols-sharp {
				font-weight: 375;
			}
		}
		/* Active: a subtle click effect */
		&:active {
			background-color: var(--shade-button-accent-2) !important;
			label {
				-webkit-text-stroke-width: 0.25px;
			}
			span.material-symbols-rounded, span.material-symbols-sharp {
				font-weight: 275;
			}
		}
    }
    .summary-header-wrapper {
        .summary-label {
            display: block;
            margin-top: 0.25rem;
            
            font-size: 0.825rem;
            font-weight: 500;
            letter-spacing: 0.01ch;
            line-height: 1rem;
        }
        h5 {
            margin-top: 0.25rem;

            /* font-family: 'Outfit', sans-serif; */
            font-size: 1.1rem;
            font-weight: 500;
            /* line-height: 2rem; */
        }
    }
    span.expand-btn {
        transform: rotateX(180deg);        
        font-size: 1.75rem;
        font-weight: 400;
        cursor: pointer;

        transition: transform 0.325s;
    }
    .details-content-wrapper {
        padding: 16px;

        opacity: 0;

        transition: opacity 0.125s;
        p.details-content {
            margin: 0;

            font-size: 0.95rem;
            line-height: 1.4rem;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
    /* Insights card specific styling */
    &.insight-card {
    }
    /* Open state */
    &[open] {
        summary { 
            border-radius: 14px 14px 0 0;
            transition: border-bottom 0.125s, border-radius 0.25s;
            span.material-symbols-sharp {
                transform: rotateX(0deg);
                transition: transform 0.325s;
            }
        }
        .details-content-wrapper {
            opacity: 1;
            transition: opacity 0.125s;
        }
    }
        /* Primary insights colours */
        &.prmry {
            background-color: var(--tonal-card-1);
            * { color: var(--tonal-card-1-text-0); }
            h5 { color: var(--tonal-card-1-text-1); }
            .summary-label {color: var(--tonal-card-1-text-2); }
            border: none;
            &[open] {
                summary { border-bottom: 1px solid var(--shade-outline-1-colour); }
            }
        }
        /* Secondary insights colours */
        &.scndry {
            .summary-label { color: var(--shade-text-7); }
            &[open] {
                summary { border-bottom: 1px solid var(--shade-outline-1); }
            }
        }
}
.details-card.static {
    padding: 12px 16px;
    .details-content-wrapper {
        margin-top: 0.425rem;
        padding: 0;

        opacity: 1;
    }
}