header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    height: 64px;
    padding-left: 17.5vw;
    z-index: 10;
    gap: 16px;

    font-size: 2vmin;
    /* backdrop-filter: blur(2px); */
    background-color: var(--shade-base-1);
    /* border-bottom: 1px solid var(--shade-base-3); */
    /* <= Tablet size */
    @media screen and (900px <= width <= 1425px) { padding-left: 9vw; }
    /* <= Phone size */
    @media screen and (0px <= width <= 899px) { padding-left: 0; }
    * {
        color: var(--shade-text-0);
    }
    #header-headline-wrapper {
        /* padding-bottom: 4px;
        display: flex;
        align-items: center; */
        .headline-icon {
            padding: 16px;
            width: auto;
            height: 52px;
            /* padding-right: 1rem;
            margin-right: 1rem; */
            
            opacity: 0.95;
            background-color: var(--shade-base-2);
            border-radius: 48px;
            overflow: visible;
            /* border-right: 1px solid var(--shade-outline-4); */
        }
        .headline-text {
            display: none;
            font-family: "Readex Pro", sans-serif;

            font-weight: 400;
            font-size: 0.85rem;
            color: var(--shade-text-5);
        }
    }
}

/* Hamburger button for mobile to hide/show nav */
#head-hamburger-btn {
    display: none;

    position: sticky;
    top: 0;
    height: 54px;
    z-index: 1;
    /* <= Phone size */
    @media screen and (0px <= width <= 899px) { display: flex; }
    span {
        font-size: 1.65rem;
        color: var(--shade-text-2);
    }
}

/* Interactions */
header {
    opacity: 0;
    transform: translateY(-64px);
    /* <= Phone size */
    @media screen and (0px <= width <= 899px) { padding-left: 0; }
    &.fade-in {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.15s ease-out, opacity 0.2s;
    }
    &.fade-out {
        opacity: 0;
        transform: translateY(-64px);
        transition: transform 0.15s ease-out, opacity 0.2s;
        @media screen and (0px <= width <= 899px) { opacity: 1; transform: translateY(0px);}
    }
}