header {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 56px;
  padding-right: 12px;
  z-index: 10;

  font-size: 2vmin;
  /* backdrop-filter: blur(2px); */
  background-color: var(--shade-base-1);
  /* Hide for desktop users, show for tablet + phone dimensions */
  @media screen and (width >= 1425px) {
    display: none;
  }
  * {
    color: var(--shade-text-0);
  }
  /* Wrapper for signature img  */
  #header-headline-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #headline-icon-wrapper {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      /* <= Phone size */
      @media screen and (0px <= width <= 899px) {
        width: auto;
        display: block
      }
    }
    /* Signature img */
    .headline-icon {
      width: 48px;
      height: 48px;

      opacity: 0.85;
      /* border-right: 1px solid var(--shade-outline-4); */
    }
  }
}

/* Hamburger button for mobile to hide/show nav */
#head-hamburger-btn {
  display: none;

  position: sticky;
  top: 0;
  height: 54px;
  z-index: 1;
  /* <= Phone size */
  @media screen and (0px <= width <= 899px) {
    display: flex;
  }
  span {
    font-size: 1.65rem;
    color: var(--shade-text-2);
  }
}

/* Interactions */
header {
  opacity: 0;
  transform: translateY(-64px);
  /* <= Phone size */
  @media screen and (0px <= width <= 899px) {
    padding-left: 0;
  }
  &.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition:
      transform 0.15s ease-out,
      opacity 0.2s;
  }
  &.fade-out {
    opacity: 0;
    transform: translateY(-64px);
    transition:
      transform 0.15s ease-out,
      opacity 0.2s;
    @media screen and (0px <= width <= 1425px) {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
