nav#body-nav {
    padding: 0 20px;
    /* background-image: linear-gradient(to left, hsl(035, 32%, 95%), hsl(035, 32%, 99%) 50%); */
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    transition: 0.2s;
    #navbox {
        height: 100%;
        /* List of links */
        ul {
            position: sticky;
            float: right;
            top: 15vh;
            margin-top: 20vh;

            padding-inline-start: 0;
            list-style-type: none;
            /* In-page link */
            li {}
        }
    }

    @media screen and (0px <= width <= 1425px) {
        display: flex;
        align-items: center;
        padding: 0%;
        #navbox {
            float:none;
        }
    }
}

/* Hamburger button for mobile to hide/show nav */
#head-hamburger-btn {
    display: none;
    margin-left: 1em;
    margin-top: 5px;
    position: sticky;
    top: 0;
    height: 54px;
    z-index: 1;
    
    span {
        font-size: 1.65rem;
        color: var(--shade-text-2);
    }
}

#navbox-foot {
    width: 150px;
    position: sticky;
    float: right;
    bottom: 20px;    
    @media screen and (0px <= width <= 1425px) {
        display: none;
    }
    /* Hamburger button for mobile to hide/show nav */
    #nav-expand-btn {
        margin-right: 10px;
        width: 100%;
        margin: 0 auto;
        gap: 0.675rem;
        span.nav-expand-btn-icon {
            transform: rotate(90deg);
        }
        label {
            display: none;
        }
    }
}