header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 15px 1vw 15px 12vw;
    z-index: 1;

    font-size: 2vmin;
    //backdrop-filter: blur(2px);
    background-color: var(--shade-base-2);
    opacity: 0;
    //box-shadow: 0px 1px 2px hsla(0, 0%, 9%, 0.1), 0px 4px 6px hsla(0, 0%, 9%, 0.175);
    border-bottom: 1px solid var(--shade-outline-1);
    * {
        color: var(--shade-text-0);
    }
    .head-icon {
        display: inline-block;
        padding-right: 1.25em;
        margin-right: 1.25em;
        
        opacity: 0.75;
        border-right: 2px solid var(--shade-outline-5);
    }
    .head-text {
        display: inline-block;

        font-weight: 500;
        line-height: 24px;
        font-size: 18px;
        color: var(--shade-text-6);
    }
}
    // Fades in/out for JS
    header.fadein {
        opacity: 1;
        transition: opacity 0.175s; 
    }
    header.fadeout {
        opacity: 0;
        transition: opacity 0.175s; 
    }

// Not technically part of header but on top of it
#head-hamburger-btn {
    margin-left: calc(1.15vw + 5px);
    position: fixed;
    height: 54px;
    z-index: 1;
    
    span {
        font-size: 30px;
        color: hsl(035, 6%, 26%);
    }
}