#main-intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 90vh;
    padding: 0px 40px 40px 40px;
}

// Name and role
#intro-titles {
    display: flex;
    flex-direction: column;
    margin-top: 5.5vw;
    height: fit-content;

    // Names holds signature and print name
    #intro-titles-names {
        padding-bottom: 30px;
        height: auto;

        // Signature img
        img {
            padding-bottom: 0px;
        }
        // 'Benjamin Walker'
        h2 {
            padding-inline-start: 2px;

            font-family: 'DM Sans', sans-serif;
            font-weight: 400;
            letter-spacing: 0.015rem;
            font-size: 3.5rem;
            color: hwb(0 23% 100%);
        }
    }
    
    // Role: 'UI/UX Student Designer'
    .intro-titles-role {
        padding: 6px 0px 0px 15px;
        margin-left: 6px;

        font-size: 6rem;
        font-weight: 600;
        line-height: 5.6rem;
        color: hwb(0 8% 100%);       
        border-left: 2px solid hwb(0 55% 45%);
    }
    // Short description
    .intro-titles-desc {
        padding-inline-start: 5px;
        padding: 20px 15px 30px 20px;
        width: 200%; 
        margin-left: 6px;    

        font-size: 1.35rem;
        line-height: 2.06rem;
        color: hwb(0 25% 100%);
        border-left: 2px solid hwb(0 55% 45%);
        //border-bottom: 2px solid hwb(0 50% 100%);
        border-radius: 0px 0px 20px 20px;
    }
}

// Right column of intro, holds quote
#intro-graphicfg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4vw 6vw 0;

    // Quote container
    #intro-graphic-quotebox {
        width: 360px;
        height: auto;
        padding: 15px 25px 45px 25px;   
        
        background-color: hwb(0 100% 0%);
        //border: 2px solid hwb(0 40% 60%);
        box-shadow: 0px 1px 2px hwb(0 10% 100% / 0.25), 0px 5px 8px hwb(0 10% 100% / 0.14);
        border-radius: 30px;    

        // Big leading quotation icon
        h3 {
            padding: 50px 0px 10px 0px;

            font-size: 5.85rem;
            font-weight: 100;
            line-height: 1.25rem;
            color: hwb(0 15% 100%);
        }
        // Quote text
        blockquote {
            padding: 0px 0px 5px 0px;
            padding-inline-start: 5px;

            font-weight: 500;
            font-size: 1.75rem;
            line-height: 2.35rem;
            color: hwb(0 24% 100%);
        }
    }
}

// Background of intro, holds some sort of graphic (?)
#intro-graphicbg {
    position: absolute;
    top: 1vh;
    right: 20vw;
    z-index: -1;
    width: 800px;
    height: 500px;
    margin-top: 10%;

    //border: 2px solid hwb(0 97% 3%);
}

#intro-about {
    
}