#main-intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    height: 85vh;  
    padding: 0 0 6vh 0;
    
    font-size: 48vmin;
    * {
        color: var(--shade-text-0);
    }
}

// Name and role
#intro-titles {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%;

    // Names holds signature and print name
    #intro-titles-names {
        margin-bottom: 0.06em;
        height: auto;

        // Signature img
        img {
            width: 1.35em;
        }
        // 'Benjamin Walker'
        h2 {
            padding-inline-start: 2px;

            font-weight: 300;
            letter-spacing: 0.015em;
            font-size: 0.15em;
            color: hsl(34, 15%, 29%);
        }
    }
    
    // Role: 'UI + UX Designer'
    .intro-titles-role {
        padding: 1px 0 0 0.15em;
        margin-left: 0.5vw;

        font-size: 0.265em;
        font-weight: 600;
        line-height: 1em;
        color: var(--shade-text-0);
        border-left: 2px solid var(--shade-invert-base-2);
    }
    // Short description: 'usyd etc'
    .intro-titles-desc {
        padding-inline-start: 5px;
        padding: 1.15em 0 1em 0.95em;
        margin-left: 0.5vw;    

        font-weight: 500;
        font-size: 0.06em;
        line-height: 1.55em;
        color: var(--shade-text-3);
        border-left: 2px solid var(--shade-invert-base-2);
        border-radius: 0 0 0 0.75em;
        strong {
            color: var(--shade-text-2);
        }
    }
}

// Right column of intro, holds quote
#intro-graphicfg {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Quote container
    #intro-graphic-quotebox {
        width: 1.06em;
        height: auto;
        padding: 0.1em 0.07em 0.125em 0.075em;
        
        //background-color: hwb(37 99% 5%);
        //border: 2px solid hwb(0 40% 60%);
        box-shadow: 0px 1px 2px hsla(0, 0%, 9%, 0.28), 0px 4px 6px hsla(0, 0%, 9%, 0.26);
        border-radius: 0.1em;    
        mix-blend-mode: luminosity;
        z-index: 0;

        // Big leading quotation icon
        h3 {
            padding: 0.25em 0 0.025em 0;

            font-family: initial;
            font-size: 0.275em; 
            line-height: 0.4em; 
            color: hsl(035, 6%, 15%);
        }
        // Quote text
        blockquote {
            padding-right: 10px;
            padding-inline-start: 5px;

            font-weight: 400;
            font-size: 0.085em;
            line-height: 1.4em;
            color: var(--shade-text-1);
        }
    }
}

// Background of intro, holds some sort of graphic (?)
#intro-graphicbg {
    position: absolute;
    top: 1vh;
    right: 20vw;
    z-index: -1;
    width: 600px;
    height: 400px;
    margin-top: 10%;

    //border: 2px solid hwb(0 97% 3%);
}

#intro-about {
    
}