nav {
    //background-image: linear-gradient(to left, hsl(035, 32%, 95%), hsl(035, 32%, 99%) 50%);
    font-size: 2vh;
    * {
        color: var(--shade-text-2);
    }
}

// Nav box
#navbox {
    position: sticky;
    top: 11vh;
    margin-top: 20vh;

    // List
    ul {
        padding-inline-start: 1.15vw;
        list-style-type: none;

        // List points: nav buttons
        li a {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                column-gap: 12px;
                padding: 7px 12px;
            } 
            // Closed version: shrinks width
            li a.closed {
                max-width: 64px;
            }

        // (UNDONE) Space all list elements except for last
        //li:not(:last-child) {
        //    margin-bottom: 5px;
        //}
    }
}

// Nav buttons
.navbox-btn {
    display: block;
    text-decoration: none;
    width: auto;

    border-radius: 100px;

    transition: background-color 0.275s;
    // Button text
    .navbox-btn-p {
        display: inline-block;
        vertical-align: middle; 
        opacity: 1;
        margin: 0;

        font-size: 1rem;
        font-weight: 600;
        line-height: 1.9em;
        color: var(--shade-text-2);

        transition: opacity 0.2s;
    }

    // Button symbols   
    span.material-symbols-rounded {
        display: inline-block;
        vertical-align: middle; 

        font-size: 30px;
        color: var(--shade-text-2);

        transition: font-weight 0.2s;
        transition: color 0.2s;
    }

}
    // Closed version: fade out p, darken symbols
    .navbox-btn.closed {
        .navbox-btn-p {
            opacity: 0;

            transition: opacity 0.2s;
        }
        span.material-symbols-rounded {
            color: hsl(035, 6%, 75%);
            font-weight: 260;

            transition: font-weight 0.2s;
            transition: color 0.2s;
        }
    }