#main-projects-container {
    height: 90vh;
    padding: 2.5em;
    border-radius: 2.5em;    

    background-color: var(--shade-base-1);
    .projects-big-h1 {
        margin-bottom: 0.6em;
    }
    .projects-small-h2 {
        margin: 30px 0px 16px 0px;

        font-weight: 500;
        color: var(--shade-text-3);
    }
}

// Projects carousel container
#projects-big-cardousel { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    //padding-left: 5px;
}
    // (Big) Project card
    .projects-big-card {
        border-radius: 20px;
        height: fit-content;
        //margin-top: 50px;

        // Thumbnail
        .projects-big-card-thumb { 
            width: 350px;
            height: 250px;
            
            background-color: var(--shade-base-2);
            border-radius: 20px 20px 0 0;
        }   
        // Details container
        .projects-big-card-details-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            bottom: 20px;
            width: 350px;
            height: 180px;
            margin: 0 0 -20px 0;
            padding: 20px;

            border-radius: 20px;
            background-color: var(--shade-base-1);

            // Name 
            .projects-big-card-details-h3 {
                font-weight: 500;
                font-family: 'Figtree', sans-serif;
                font-size: 28px;
                color: var(--shade-text-2);
            }
            // Platform tag
            .projects-big-card-tag {
                //position: relative;
                //left: 8px;
                //top: 8px;
                //width: fit-content;
                display: inline-block;
                padding: 8px;

                background-color: var(--shade-container-1);
                border-radius: 10px;
                font-weight: 600;
                font-family: 'Figtree', sans-serif;
                font-size: 13px;
                line-height: 13px;
                color: var(--shade-text-5);
            }
        }
    }

/*
#projects-small-cardousel { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;

    //padding: 0px 0px 0px 10px;

    .projects-small-card { 
        width: 250px;
        height: auto;
        aspect-ratio: 4.3/3;
        
        background-color: hwb(0 100% 5%);
        border-radius: 14px;
    }
}
*/