button {
    cursor: pointer;
    text-align: center; 

    font-weight: 600;
    font-family: 'Mulish', sans-serif;
    color: var(--shade-text-1);
    border-radius: 100px;

    transition: background-color 0.275s;
}
    // Standard icon/text buttons
    //button.stdbtn {
        
    //}
    // Single icon buttons
    button.iconbtn {
        aspect-ratio: 1 / 1;
        border: none;
        background-color: transparent;
    }

        // Hover: a subtle active effect
        button:hover {
            background-color: var( --shade-base-accent-1);

            transition: background-color 0.1s;
        }
        // Active: a subtle click effect
        button:active {
            background-color: var( --shade-base-accent-2);

            transition: background-color 0.1s;
        }

// Nav buttons
    // Hover: a subtle overlay effect
    .navbox-btn:hover {
        background-color: var( --shade-base-accent-1);

        transition: background-color 0.1s;
    }
    // Active: a subtle click effect
    .navbox-btn:active {
        background-color: var( --shade-base-accent-2);

        transition: background-color 0.1s;
    }

// Projects buttons
    // (Big) Projects cards
    .projects-bigcard {
        box-shadow: none;
        transition: box-shadow 0.15s, transform 0.15s;
        .projects-bigcard-details-container {
            bottom: var(--idle-bottom);

            transition: bottom 0.15s;

            // Shrink/unshrink
            .projects-bigcard-details-h3 {
                height: 42px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .projects-bigcard-thumb {
            transition: background-color 0.1s;
        }
    }
        .projects-bigcard:hover {
            cursor: pointer;
            transform: translateX(-1) translateY(-2);

            box-shadow: 0px 1px 2px hsla(0, 0%, 9%, 0.1), 0px 2px 6px hsla(0, 0%, 9%, 0.16);

            transition: box-shadow 0.1s, transform 0.15s;
            .projects-bigcard-details-container {
                bottom: var(--hover-bottom);
                
                transition: bottom 0.275s;

                // Shrink/unshrink
                .projects-bigcard-details-h3 {
                    height: auto;
                    text-overflow: initial;
                    white-space: normal;
                    overflow: visible;
                }
            }
            .projects-bigcard-thumb {
                //background-color: var(--shade-base-3);
    
                transition: background-color 0.1s;
                img {
                    opacity: 0.9;
                }
            }
        }

    

// All material symbols
span.material-symbols-rounded {
    padding: 5px;
    aspect-ratio: 1/1;

    font-weight: 320;
    font-size: 1.8em;
    line-height: 1em;
    color: var(--shade-text-1);
}

