main {
    //background-color: hwb(0 100% 0%);
    border-radius: 40px;
    //border-left: 1px solid hwb(0 100% 15%);
}

// Colour variables

// Base (brassy shades)
:root {
    // Base shade
    --shade-base-0: hsl(035, 32%, 99%);
    --shade-base-1: hsl(035, 32%, 96%);
    --shade-base-2: hsl(035, 32%, 94%);
    --shade-base-3: hsl(035, 32%, 92%);
    --shade-base-4: hsl(035, 32%, 89%);
    --shade-base-5: hsl(035, 32%, 86%);

    // Base shade accent - interaction states, e.g. button hovers
    --shade-base-accent-1: hsla(035, 45%, 80%, 0.2);
    --shade-base-accent-2: hsla(035, 40%, 78%, 0.3);

    // Text shades
    --shade-text-0: hsl(035, 5%, 12%);
    --shade-text-1: hsl(035, 5%, 21%);
    --shade-text-2: hsl(035, 7%, 25%);
    --shade-text-3: hsl(035, 7%, 30%);
    --shade-text-4: hsl(035, 9%, 35%);
    --shade-text-5: hsl(035, 9%, 40%);
    --shade-text-6: hsl(035, 12%, 46%);

    // Outline shades
    --shade-outline-1: hsl(035, 12%, 87%);
    --shade-outline-2: hsl(035, 12%, 84%);
    --shade-outline-3: hsl(035, 12%, 79%);
    --shade-outline-4: hsl(035, 18%, 75%);
    --shade-outline-5: hsl(035, 18%, 69%);

    --shade-accent-0: hsl(70, 12%, 60%);

    // Inverted shades - for necessarily contrasting elements, e.g. tooltips
    --shade-invert-base-1: hsl(035, 8%, 35%);
    --shade-invert-base-2: hsl(035, 8%, 45%);
    --shade-invert-base-3: hsl(035, 8%, 55%);
    --shade-invert-text-1: var(--shade-base-1);
}

// Projects (off-white and oxidised green)
#main-projects-container {
    // Base shade
    --shade-base-1: hsl(035, 5%, 98%);
    --shade-base-2: hsl(035, 6%, 96%);
    --shade-base-3: hsl(035, 8%, 93%);
    --shade-base-4: hsl(035, 10%, 90%);
    --shade-base-5: hsl(035, 10%, 87%);

    --shade-base-1-trans: hsla(035, 5%, 99%, 0.95);

    --shade-container-1: hsl(70, 40%, 94%);
    --shade-container-1-text-1: hsl(70, 12%, 36%);
    --shade-container-1-outline-1: hsl(70, 12%, 79%);

    // Text shades
    --shade-text-0: hsl(0, 0%, 12%);
    --shade-text-1: hsl(0, 0%, 21%);
    --shade-text-2: hsl(0, 0%, 25%);
    --shade-text-3: hsl(0, 0%, 30%);
    --shade-text-4: hsl(0, 0%, 35%);
    --shade-text-5: hsl(0, 0%, 40%);
    --shade-text-6: hsl(0, 0%, 46%);
    --shade-text-7: hsl(0, 0%, 50%);
    --shade-text-8: hsl(0, 0%, 55%);

    // Outline shades
    --shade-outline-1: hsl(0, 0%, 87%);
    --shade-outline-2: hsl(0, 0%, 84%);
    --shade-outline-3: hsl(0, 0%, 79%);
    --shade-outline-4: hsl(0, 0%, 75%);
    --shade-outline-5: hsl(0, 0%, 69%);

    --shade-accent-0: hsl(90, 12%, 60%);

    // Inverted shades - for necessarily contrasting elements, e.g. tooltips
    --shade-invert-base-1: hsl(0, 0%, 35%);
    --shade-invert-text-1: var(--shade-base-1);
}

// Open project (almost-bronze and oxidised green)
.project-big-open {
    // Base shade
    --shade-base-0: hsl(035, 32%, 99%);
    --shade-base-1: hsl(035, 32%, 96%);
    --shade-base-2: hsl(035, 32%, 94%);
    --shade-base-3: hsl(035, 32%, 92%);
    --shade-base-4: hsl(035, 32%, 89%);
    --shade-base-5: hsl(035, 32%, 86%);

    --shade-base-1-trans: hsla(035, 5%, 99%, 0.95);

    // Base shade accent - interaction states, e.g. button hovers
    --shade-base-accent-1: hsla(035, 45%, 80%, 0.2);
    --shade-base-accent-2: hsla(035, 40%, 78%, 0.3);

    // Bronze elements
    --shade-container-1: hsl(70, 32%, 94%);
    --shade-container-1-text-1: hsl(70, 18%, 45%);
    --shade-container-1-outline-1: hsl(70, 12%, 79%);

    --shade-container-2: hsl(70, 40%, 91%);
    --shade-container-2-text-1: hsl(70, 15%, 35%);
    --shade-container-2-outline-1: hsl(70, 12%, 75%);

        // Bronze accent - interaction states, e.g. button hovers
        --shade-container-accent-1: hsla(70, 45%, 55%, 0.2);
        --shade-container-accent-2: hsla(70, 40%, 53%, 0.3);

    // Text shades
    --shade-text-0: hsl(035, 5%, 12%);
    --shade-text-1: hsl(035, 5%, 21%);
    --shade-text-2: hsl(035, 7%, 25%);
    --shade-text-3: hsl(035, 7%, 30%);
    --shade-text-4: hsl(035, 9%, 35%);
    --shade-text-5: hsl(035, 9%, 40%);
    --shade-text-6: hsl(035, 12%, 46%);

    // Outline shades
    --shade-outline-0: hsl(035, 12%, 94%);
    --shade-outline-1: hsl(035, 12%, 87%);
    --shade-outline-2: hsl(035, 12%, 84%);
    --shade-outline-3: hsl(035, 12%, 79%);
    --shade-outline-4: hsl(035, 18%, 75%);
    --shade-outline-5: hsl(035, 18%, 69%);

    --shade-accent-0: hsl(70, 12%, 60%);

    // Inverted shades - for necessarily contrasting elements, e.g. tooltips
    --shade-invert-base-1: hsl(035, 8%, 35%);
    --shade-invert-base-2: hsl(035, 8%, 45%);
    --shade-invert-base-3: hsl(035, 8%, 55%);
    --shade-invert-text-1: var(--shade-base-1);
}

body {
    background-color: var(--shade-base-1);    
}