main {
    //background-color: hwb(0 100% 0%);
    border-radius: 40px;
    //border-left: 1px solid hwb(0 100% 15%);
}

// Colour variables
:root {
    // Base shade
    --shade-base-0: hsl(035, 32%, 99%);
    --shade-base-1: hsl(035, 32%, 96%);
    --shade-base-2: hsl(035, 32%, 94%);
    --shade-base-3: hsl(035, 32%, 92%);
    --shade-base-4: hsl(035, 32%, 89%);
    --shade-base-5: hsl(035, 32%, 86%);

    // Base shade accent - interaction states, e.g. button hovers
    --shade-base-accent-1: hsla(035, 18%, 80%, 0.2);
    --shade-base-accent-2: hsla(035, 18%, 78%, 0.325);

    // Text shades
    --shade-text-0: hsl(035, 5%, 12%);
    --shade-text-1: hsl(035, 5%, 21%);
    --shade-text-2: hsl(035, 7%, 25%);
    --shade-text-3: hsl(035, 7%, 30%);
    --shade-text-4: hsl(035, 9%, 35%);
    --shade-text-5: hsl(035, 9%, 40%);
    --shade-text-6: hsl(035, 12%, 46%);

    // Outline shades
    --shade-outline-1: hsl(035, 12%, 87%);
    --shade-outline-2: hsl(035, 12%, 84%);
    --shade-outline-3: hsl(035, 12%, 79%);
    --shade-outline-4: hsl(035, 18%, 75%);
    --shade-outline-5: hsl(035, 18%, 69%);

    --shade-accent-0: hsl(90, 12%, 60%);

    // Inverted shades - for necessarily contrasting elements, e.g. tooltips
    --shade-invert-base-1: hsl(035, 8%, 35%);
    --shade-invert-base-2: hsl(035, 8%, 45%);
    --shade-invert-base-3: hsl(035, 8%, 55%);
    --shade-invert-text-1: var(--shade-base-1);
}

// Colour vars for projects
#main-projects-container {
    // Base shade
    --shade-base-1: hsl(0, 0%, 100%);
    --shade-base-2: hsl(0, 0%, 91%);
    --shade-base-3: hsl(0, 0%, 94%);
    --shade-base-4: hsl(0, 0%, 90%);
    --shade-base-5: hsl(0, 0%, 87%);

    --shade-container-1: hsl(200, 40%, 94%);
    --shade-container-1-text-1: hsl(200, 15%, 35%);

    // Text shades
    --shade-text-0: hsl(0, 0%, 12%);
    --shade-text-1: hsl(0, 0%, 21%);
    --shade-text-2: hsl(0, 0%, 25%);
    --shade-text-3: hsl(0, 0%, 30%);
    --shade-text-4: hsl(0, 0%, 35%);
    --shade-text-5: hsl(0, 0%, 40%);
    --shade-text-6: hsl(0, 0%, 46%);

    // Outline shades
    --shade-outline-1: hsl(0, 0%, 87%);
    --shade-outline-2: hsl(0, 0%, 84%);
    --shade-outline-3: hsl(0, 0%, 79%);
    --shade-outline-4: hsl(0, 0%, 75%);
    --shade-outline-5: hsl(0, 0%, 69%);

    --shade-accent-0: hsl(90, 12%, 60%);

    // Inverted shades - for necessarily contrasting elements, e.g. tooltips
    --shade-invert-base-1: hsl(0, 0%, 35%);
    --shade-invert-text-1: var(--shade-base-1);
}

body {
    background-color: var(--shade-base-1);    
}