// 1080p
@media screen and (min-width: 0px) and (max-width: 2559px) {
    #main-projects-container {
        font-size: 1.55vmin;
    }
  }

// 1440p
@media screen and (min-width: 2560px) and (max-width: 3840px) {
    main {
      padding: 0 1.225vw 0 1.225vw;
    }
    body {
        grid-template-columns: 11vw 76vw 13vw;
    }
        body.retract {
            grid-template-columns: 7vw 80vw 13vw;
        }

    #intro-titles {
        margin-top: 0.425em; 
        font-size: 36vh;
    }

    aside {
        padding: 20vh 0 0 2vw;

        #aside-infobox {
            width: 6.5vw;
            font-size: 0.75vw;
        }
    }    
  }