// Import DM Sans and Mulish
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    color: hwb(0 20% 100%);
    font-family: 'DM Sans', sans-serif;
    p {
        font-weight: 500;
        font-family: 'Mulish', sans-serif;
    }
}


hr {
    border: none;
    border-top: 1px solid hwb(0 100% 15%);
}   
    hr.divider-section {
        //margin: 0px 40px 0px 40px;
    }
    hr.divider-h {
        margin: 12px 0px 12px 0px;
    }
    hr.divider-v {

    }