// Import Readex Pro and Figtree
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

* {
    color: var(--shade-text-1);

    // Headings
    h1, h2, h3, 
    h4, h5, h6 { 
        font-family: 'Readex Pro', sans-serif;
        font-size: 25px;
        font-weight: 500;
    }
        h1 {
            font-size: 40px;
            font-weight: 500;
        }

    // Everything else
    p {
        font-weight: 400;
        font-family: 'Figtree', sans-serif;
        strong, em {
            font-family: 'Figtree', sans-serif;
        }
    }
    button * {
        font-family: 'Figtree', sans-serif;
        font-weight: 600;
    }
    a {
        font-weight: 400;
        font-family: 'Figtree', sans-serif;
    }
    blockquote {
        font-family: 'Readex Pro', sans-serif;
        font-size: 16px;
    }
}


hr {
    border: none;
    border-top: 1px solid var(--shade-outline-1);
}   
    hr.divider-section {
        //margin: 0px 40px 0px 40px;
    }
    hr.divider-h {
        margin: 12px 0px 12px 0px;
    }
    hr.divider-v {

    }