// Fix overscroll
html, body {
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
}

// Stock holy layout grid wrapping the body
body {
    display: grid; 
    grid-template-columns: 11vw 76vw 13vw;
    grid-template-rows: 50px 1fr 100px; 
    //gap: 20px;
    grid-template-areas: 
      "header header header"
      "nav main aside"
      "footer footer footer"; 

    transition: grid-template-columns 0.2s;  
}
  body.retract {
    grid-template-columns: 7vw 80vw 13vw;

    transition: grid-template-columns 0.2s;    
  }

header { grid-area: header; }
main { 
  grid-area: main; 
  padding: 0 1vw 0 1vw;
} 
nav { grid-area: nav; }
aside { grid-area: 1 / 3 / 4 / 4; }
footer { grid-area: footer; }

// Thanks to https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header for this method
a.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}