// Stock holy layout grid wrapping the body
body {
    display: grid; 
    grid-template-columns: minmax(10px, 0.2fr) 1fr minmax(10px, 0.4fr); 
    grid-template-rows: 80px 1fr 100px; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header"
      "nav main aside"
      "footer footer footer"; 
  }
  header { grid-area: header; }
  main { grid-area: main; }
  nav { grid-area: nav; }
  aside { grid-area: aside; }
  footer { grid-area: footer; }