/* 
#######################
## CONTAINER QUERIES ##
#######################
*/

#projects-cardousel {
    container: cardousel / inline-size;
}
@container cardousel (width < 1200px) {
    #cardousel-trailing {
        display: block !important; 
        a.projects-card {
            margin-top: 8px;
            width: 100% !important;
            flex-direction: row;
            text-decoration: none;
            .projects-card-thumb {
                margin-left: 0;
                flex-basis: 40%;
                img { aspect-ratio: 1; height: 100%; }
            }
            .projects-card-details-container {
                flex-basis: 60%;
                padding: 10px 8px;
                /* Title  */
                .projects-card-details-title {
                    h3 {
                        font-weight: 450;
                        font-size: 1.75rem;
                        line-height: initial;
                    }
                }
            }
        }
    }
}

#projects-big {
    container: projBig / inline-size;
}
@container projBig (width < 950px) {
    #projects-cardousel {
        display: block !important;
    }
}



/* Projects (big) */
#projects-big {
    display: block;
    padding: 48px;
    /* <= Phone width */
    @media screen and (0px <= width <= 899px) { padding:  36px 24px; }
    #projects-big-head-container {
    margin-bottom: 2.5rem;
        #projects-big-h1 {
            margin-bottom: 0.01em;
            line-height: 1.25em;
        }
        #projects-big-desc {
        
        }
    }
    /* Projects carousel container */
    #projects-cardousel { 
        display: grid;
        grid-template-columns: 1.75fr 2fr;
        grid-template-areas: 
        "lead trailing";
        grid-gap: 16px;
        #cardousel-lead {
            grid-area: lead;
            /* <= Phone width */
            @media screen and (0px <= width <= 899px) { margin-bottom: 16px; }
        }
        #cardousel-trailing {
            display: grid;
            grid-template-columns: minmax(100px, auto) minmax(100px, auto);
            grid-gap: 6px 2px;
            grid-area: trailing;
            @media screen and (0px <= width <= 899px) { display: block; }
        }
    }
}

/* Modify lead card */
#cardousel-lead {
    .lead {
        /* height: 100%; */
    }
    a.projects-card {
        max-width: 100%;
        height: 100%;
    }
    /* Details container */
    .projects-card-details-container {
        /* Title  */
        .projects-card-details-title {
            h3 {
                font-weight: 450;
                font-size: 4rem;
                line-height: 6.5rem;
            }
        }
        /* Desc */
        .projects-card-details-desc {   
            margin-bottom: 1rem;
        
            line-height: 1.6rem;
            font-weight: 400;
            font-size: 1rem;
            color: var(--shade-text-3);
        }
    }
}
/* Modify trailing card */
#cardousel-trailing {
    a.projects-card {
        /* max-width: 300px; */
        height: 100%;

        background-color: var(--shade-base-0);
        &:hover {
            background-color: var(--shade-base-1);
        }
        .projects-card-thumb { 
            max-height: 200px;
            .card-details-meta-container {
                .details-taglist-wrapper {
                    /* Tag */
                    label.tag-desc {
                        display: none;
                        max-width: 0;

                        transition: display 0.125s, max-width 0.125s allow-discrete;
                    }
                }
            }        
        }
    }
}

/* Default project card */
a.projects-card {
    /* height: 100%; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* max-height: fit-content; */
    /* z-index: 0; */
    
    text-decoration: none;
    background-color: var(--shade-card-0);
    border-radius: 24px;
    /* Thumbnail */
    .projects-card-thumb { 
        margin: 8px;
        border-radius: 18px;
        overflow: hidden;

        object-fit: cover;
        border: 1px solid var(--shade-outline-1-colour);
        /* Metadata: year and tags */
        .card-details-meta-container {
            position: relative;
            height: 42px;
            margin-bottom: -42px;
            padding: 12px 12px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            z-index: 1;
            .details-year {
                * {color: var(--shade-text-3)};
            }
            /* Tag list */
            .details-taglist-wrapper {
                display: flex;
                flex-direction: row;
                gap: 6px;
            }
        }        
        img {
            width: 100%;
            object-fit: cover;
            transition: filter 0.25s;
        }
    }   
    /* Details container */
    .projects-card-details-container {
        padding: 4px 18px 18px 18px;

        display: flex;
        flex-direction: column;
        gap: 6px;
        /* Title  */
        .projects-card-details-title {
            /* Year */
            label {
                margin-bottom: -2px;
                font-weight: 500;
                font-size: 12px;
                color: var(--shade-text-5);
            }
            h3 {
                font-weight: 450;
                font-size: 1.5rem;
                line-height: 2rem;
                color: var(--shade-text-1);
            }
        }
        /* Desc */
        .projects-card-details-desc {
            display: inline-block;
            
            line-height: 1.275rem;
            font-weight: 400;
            font-size: 0.825rem;
            color: var(--shade-text-3);
        }
    }
}


/* 
################
## ANIMATIONS ##
################
*/

/* Projects cards */
.projects-card {
    transition: box-shadow 0.15s, transform 0.15s, background-color 0.15s;
    .projects-card-thumb {
        img {
            transition: filter 0.15s;
        }
    }

    /* card hover */
    &:hover {
        cursor: pointer;
        /* transform: translateX(-1px) translateY(-2px); */

        /* box-shadow: 0px 1px 2px hsla(0, 0%, 9%, 0.1), 0px 2px 6px hsla(0, 0%, 9%, 0.18); */
        background-color: var(--shade-card-0-hover);
        /* border: 1px solid var(--shade-outline-5); */

        transition: border 0.15s, transform 0.15s, background-color 0.15s;
        .projects-card-thumb {
            img {
                filter: brightness(95%);

                transition: filter 0.15s;
            }
        }
        /* Tag */
        label.tag-desc {
            display: inline !important;
            max-width: 100% !important;
        }
        .thumb-tag {
            background-color: var(--tonal-card-0-hover);
            &.green, &.green {
                background-color: var(--green-card-1-hover);
            }
        }
    }
    /* card active */
    &:active {
        background-color: var(--shade-card-0-active) !important;
        /* box-shadow: 0px 2px 2px hsla(0, 0%, 9%, 0.15), 0px 3px 6px hsla(0, 0%, 9%, 0.25); */

        transition: box-shadow 0.1s, transform 0.15s, background-color 0.15s;
        .projects-card-details-container {
            h3 {
                letter-spacing: -0.0075rem;
                
                transition: letter-spacing 0.1s;
            }
        }
        .projects-card-thumb {
            img {
                filter: brightness(90%);

                transition: filter 0.15s;
            }
        }
        .thumb-tag {
            background-color: var(--tonal-card-0-active);
            &.green, &.green {
                background-color: var(--green-card-1-active);
            }
        }
    }
}