nav {
    //background-image: linear-gradient(to left, hsl(035, 32%, 95%), hsl(035, 32%, 99%) 50%);
    font-size: 2vh;
    * {
        color: var(--shade-text-2);
    }

    #navbox {
        position: sticky;
        float: right;
        top: 12%;
        margin: 20vh 12% 0 0;
    
        // List
        ul {
            padding-inline-start: 14px;
            list-style-type: none;
    
    
            // (UNDONE) Space all list elements except for last
            //li:not(:last-child) {
            //    margin-bottom: 5px;
            //}
        }
    }
}


// Not technically part of header but on top of it
#head-hamburger-btn {
    display: none;
    float: right;
    margin-top: 5px;
    margin-left: 20px;
    position: sticky;
    top: 0;
    height: 54px;
    z-index: 1;
    
    span {
        font-size: 1.65rem;
        color: hsl(035, 6%, 26%);
    }
}
